<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gameData">
	<select id="runeTier3" resultType="gameData.model.pojo.ImprovedRuneData">
		select * from rune where tier=3 order by id
	</select>
</mapper>