<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="regist" parameterType="member.model.pojo.MemberData">
		insert into member values(#{email}, #{pass}, #{nick}, 0, 0, #{gameid}, sysdate) 
	</insert>
	<select id="data" parameterType="member.model.pojo.MemberData" resultType="member.model.pojo.MemberData">
		select * from member
	</select>
</mapper>