<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="regist" parameterType="member.model.pojo.MemberData">
		insert into member values(#{email}, #{pass}, #{nick}, 0, 0, #{gameid}, sysdate) 
	</insert>
	<insert id="sendEmail" parameterType="java.lang.String">
		insert into joinuuid values(#{email}, #{uuid}, sysdate)
	</insert>
	<select id="data" parameterType="member.model.pojo.MemberData" resultType="member.model.pojo.MemberData">
		select * from member where email=#{email} and password=#{pass}
	</select>
	<select id="emailCheck" resultType="java.lang.String" >
		select email from member where email=#{email}
	</select>
	<select id="uuidData" parameterType="java.lang.String" resultType="java.lang.String">
		select uuid from JOINUUID where UUIDDATE=(select MAX(temp.UUIDDATE) from (select * from joinuuid j where id=#{email}) temp)
	</select>
	<delete id="delMember" parameterType="java.lang.String">
		delete from member where email=#{email}
	</delete>
	<select id="info" resultType="member.model.pojo.MemberData">
		select * from member where nick=#{nick}
	</select>
	<update id="delList" parameterType="java.lang.String">
		update improvedtactics_content set writer='탈퇴된 회원' where writer=#{nick}
	</update>
	<update id="delReMem" parameterType="java.lang.String">
		update tactics_reply1 set writer='탈퇴된 회원' where writer=#{nick}
	</update>
	<update id="delReMem2" parameterType="java.lang.String">
		update tactics_reply2 set writer='탈퇴된 회원' where writer=#{nick}
	</update>
	<update id="delComu" parameterType="java.lang.String">
		update community set writer='탈퇴된 회원' where writer=#{nick}
	</update>
	<update id="delComuRe1" parameterType="java.lang.String">
		update community_reply1 set writer='탈퇴된 회원' where writer=#{nick}
	</update>
	<update id="delComuRe2" parameterType="java.lang.String">
		update community_reply2 set writer='탈퇴된 회원' where writer=#{nick}
	</update>
	<update id="passchange" parameterType="java.util.HashMap">
		update member set password=#{pass} where email=#{email}
	</update>
</mapper>