<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="regist" parameterType="member.model.pojo.MemberData">
		insert into member values(#{email}, #{pass}, #{nick}, 0, 0, #{gameid}, sysdate) 
	</insert>
	<insert id="sendEmail" parameterType="java.lang.String">
		insert into joinuuid values(#{email}, #{uuid}, sysdate)
	</insert>
	<select id="data" parameterType="member.model.pojo.MemberData" resultType="member.model.pojo.MemberData">
		select * from member where email=#{email} and password=#{pass}
	</select>
	<select id="uuidData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from joinuuid order by sysdate desc
	</select>
	<delete id="delMember" parameterType="java.lang.String">
		delete from member where email=#{email}
	</delete>
	<select id="info" resultType="member.model.pojo.MemberData">
		select * from member where nick=#{nick}
	</select>
</mapper>