@CHARSET "UTF-8";
body{
	margin: 0px;
}
header{
	height: 70px;
}
#navigation{
	position: fixed;
	top: 0;
	left: 0;
	clear: both;
	height: 70px;
	width: 100%;
	color : white;
	background-image: linear-gradient(to right, #1b1b1b, #626262);
	
}
#navigation ul{
	position: relative;
}
#navigation li{
	display: table-cell;
	height: 100%;
	list-style-type: none;
	float: right;	
}
.clearfix{
	clear: both;
	display: block;
	content: "";
}
#mi{
	position: relative;
	display: block;
	margin: 13px 10px;
}
li a{
	heigth: auto;
	display: inline-block;	
	vertical-align: middle;
	font: 20px/1 Verdana;
	text-decoration: none;
	margin: 10px 5px;
}
li:hover{
	background-image:linear-gradient(-90deg, #887963, #0b0a09);
	box-shadow: 0px 0px 2px #69635a;
	border-radius: 5px;
}

#left{	
	width: 200px;
	color: red;
	float: left;
	background-color: #bdbdbd;
}
article{
	height: 100%;
	display: block;
	color: white;
	background-color: #353535;
	margin-left: 200px;
	padding-left: 50px;
	
}
footer{
	clear: both;
	font-style: italic;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	height: 2em;
	background-image: linear-gradient(to right, #1b1b1b, #626262);	
}
footer a{
	font-size: 20;
	opacity: 0;
}
.test{
	width: 200px;
	height: 500px;
	background-color: black;
}