
@CHARSET "EUC-KR";
body{
	margin:0;
}
.container{
	padding: 0;
}
a, a:link {
	text-decoration: none;
}
.clearfix{
	clear: both;
}
header{
	style="font-family: 'Oswald', sans-serif;
}
article{
	height: 100%;
	padding: 80px;
	margin: 0 auto;
	background-color: #F6F6F6;
}
footer{
	clear: both;
	height: 70px;
	background-color: #302f35;	
	color: white;
	text-align: center;
	vertical-align: middle;
}
#champPortrait{
	display: inline-block;
	width: 50px;
	font-size: 8pt;	
	overflow: hidden;
	white-space: nowrap;	
}
#champContainer{
	height: 300px;
	overflow-y: scroll;
	border: 1px solid gray;	
}
/* footer div{ */
/* 	maring: auto; */
/* 	vertical-align: middle; */
	
/* } */
/* footer strong{ */
	
/* } */
