@CHARSET "EUC-KR";

container{
	
}
#wrap{
	margin: 0 auto;
	width: 200px;
}
li{
	list-style-type: none;
	padding: 0px;
}
ul{
	padding: 0px;
}
.mastery_title{
	text-align: center;
}
ul.mastery_title li{
	float : left;
	display: block;
	width: 200px;
	padding: 10px 5px 2px 0px;
	color: blue;
}

.mastery{
	height: 444px;
	width: 200px;
	border: 1px solid gray;
	float: left;
	padding: 0px;
	margin: 0px;
}
.mastery_ul{
	padding: 0px;	
}
ul.mastery_ul li{
	padding:0px;	
	float: left;
	text-align: center;
}

.tier_even{
	height: 74px;
	width: 190;
	padding: 0px;	
	margin: 0 auto;
	text-align: center;
}
.tier_odd{
	height: 74px;
	width: 126;
	padding: 0px;	
	margin-top:1px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

.attrBox{
	display: inline-block;
	height: 55px;
	width: 55px;
	margin: 7 0 0 5;
	padding-top: 45px;	
	border: 1px solid gray;
	float: left;	
	z-index: 5;
	color: blue;
}

.runeBox{
	height: 55px;
	width: 55px;
	margin: 7 0 0 5;		
	display: inline-block;
}


