@CHARSET "EUC-KR";

container{
	
}
#wrap{
	margin: 0 auto;
	width: 200px;	
}
li{
	list-style-type: none;
	padding: 0px;
}
ul{
	padding: 0px;
}
.mastery_title{
	text-align: center;
}
ul.mastery_title li{
	float : left;
	display: block;
	width: 200px;
	padding: 10px 5px 2px 0px;
	color: blue;
}

.mastery{
	height: 444px;
	width: 201px;
	border: 1px solid gray;
	float: left;
	padding: 0px;
	margin: 0px;
}
.mastery_ul{
	padding: 0px;	
}
ul.mastery_ul li{
	padding:0px;	
	float: left;
	text-align: center;
}

.tier_even{
	height: 74px;
	width: 190;
	padding: 0px;	
	margin: 0 auto;
	text-align: center;
}
.tier_odd{
	height: 74px;
	width: auto;
	padding: 12px 0 0 2px;	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:40px;
	margin-right:auto;
	text-align: center;
}

.attrBox{
	display: inline-block;
	height: 53px;
	width: 50px;
	margin: 5 0 0 8;
	padding-top: 45px;	
	border: 1px solid gray;
	float: left;	
	z-index: 5;
	color: blue;
}

.runeBox{
	height: 45px;
	width: 45px;
	margin: 7 0 0 5;
	padding: 0;		
	display: inline-block;
}
.clearBtnWrap{
	clear: left;
	text-align: center;
	padding: 8px;
}
.tacticsBox{
	padding: 5%;
	border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
}

